/*--------------------------------------------------------------------
 * Container
 *------------------------------------------------------------------*/

.wrapper-sm {
	max-width: 500px;
}

.wrapper-md {
	max-width: 1200px;
}

.wrapper-lg {
	max-width: 1440px;
}

.wrapper-center {
	margin: 0 auto;
}
