/*--------------------------------------------------------------------
 * Content
 *------------------------------------------------------------------*/

img, iframe {
	width: 100%;
	font-family: $type-rubik;
	font-size: $unit-sm;
	color: $smoke;
}



.bg-gold {
	background-color: $gold;
}
.bg-smoke {
	background-color: $smoke;
}
.bg-coal {
	background-color: $coal;
}
.bg-fog {
	background-color: $fog;
}
.bg-cloud {
	background-color: $cloud;
}
.bg-ruby {
	background-color: $ruby;
}
.bg-grass {
	background-color: $grass;
}

.hero {
	@media only screen and (min-width: $bp-sm+200) { 
		display: flex;
		align-items: center;
	}
}

.hero div {
	@media only screen and (min-width: $bp-sm) { 
		flex: 1;
	}	
}

.hero-text {
	padding: $unit-md $unit-md $unit-xlg $unit-md;
	margin-right: $unit-md;
	@media only screen and (min-width: $bp-sm) { 
	padding-left: 8%;
	}
}

.hero-img {
	margin-bottom: -$unit-xsm;
	@media only screen and (min-width: $bp-sm+200) {
	margin-bottom: -$unit-sm;
	margin-top: $unit-sm;
	margin-left: -$unit-sm;
	border-radius: $border-radius;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	@media only screen and (min-width: $bp-sm+300) {
	margin-bottom: -$unit-lg;
	margin-top: $unit-lg;
	margin-left: -$unit-lg;
	}
}

.item-grid {
	margin-left: $unit-xsm;
	margin-right: $unit-xsm;
	display: flex;
	flex-wrap: wrap;
	@media only screen and (min-width: $bp-md) {
	margin-left: $unit-sm;
	margin-right: $unit-sm;
	}
}

.item-col {
	box-sizing: border-box;
	padding: 0 $unit-xsm $unit-xsm $unit-xsm;
	flex: 0 0 auto;
	width: 50%;
	@media only screen and (min-width: $bp-sm+100) {
		width: 33%;	
	}
	@media only screen and (min-width: 920px) {
		width: 25%;
	}
}

.item-featured {
	width: 100%;
	margin-bottom: $unit-sm;
	text-align: center;
	@media only screen and (min-width: $bp-sm+200) {
		width: 50%;
	}
}

.item-featured-desc {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5;
}

.item-container {
	display: flex;
	justify-content: space-between;
	font-size: $type-sm;
	color: $coal;
	font-family: $type-rubik;
}	

.item-attr {
	font-weight: $type-bold;
	margin-left: $unit-xsm;
}

.item-desc {
	font-family: $type-rubik;
	color: $smoke;
	margin-top: 0;
}

.section-border-top {
	@media only screen and (min-width: $bp-sm+150) {
	border-top: 1px solid $cloud;
	}
}

.info-grid {
	display: block;
	@media only screen and (min-width: $bp-sm+150) {
		display: flex;
	}
}

.info-col {
	padding: $unit-md $unit-md $unit-xlg $unit-md;
	border-bottom: 1px solid $cloud;
	@media only screen and (min-width: $bp-sm) {
		padding: $unit-lg;
		border-bottom: none;
	}
	@media only screen and (min-width: $bp-sm+150) {
		padding: $unit-xsm*8;
	}
	@media only screen and (min-width: $bp-sm+300) {
		padding: $unit-xsm*10;
	}

	&:first-of-type {
		@media only screen and (min-width: $bp-sm+150) {
			border-right: 1px solid $cloud;
		}
	}
}

.grid-featured-product {
	margin-left: $unit-xsm;
	margin-right: $unit-xsm;
	@media only screen and (min-width: $bp-sm) {
		justify-content: space-around;
	}
	@media only screen and (min-width: $bp-md) {
	margin-left: $unit-sm;
	margin-right: $unit-sm;
	}

	.item-col {
		@media only screen and (min-width: $bp-sm+100) {
			margin-top: -150px;	
		}
		
	}
	.col {
		display: none;
		@media only screen and (min-width: $bp-sm+100) {
			display: block;
		}
	}
}
.item-link {
	position: relative;
	text-align: center;

	.btn {
		position: absolute;
		bottom: $unit-xsm/2;
		opacity: 0;
		border-radius: 0;
		transition: opacity 0.25s ease;
		padding: $unit-sm;
		width: -webkit-fill-available; // Does not work for Firefox
		&:after {
			content: url(../assets/square-16.svg);
			display: inline-block;
			width: $unit-sm;
			height: $unit-sm;
			margin-left: $unit-xsm;
			vertical-align: middle;
		}
	}
}

.item-link:hover {
	.btn {
		opacity: 1;
	}
}

.event-list {
	list-style-type:none;
	padding:0;
	font-family: $type-rubik;
	color: $smoke;
	font-size: $type-sm;

	li {
		padding-bottom: $unit-xsm;
	}
}

.event-list-desc {
	margin-right: $unit-lg;
}

.event-title {
	color: $coal;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: $type-bold;
}

.event-table {
	border-collapse: collapse; 
}

.rule-cloud {
	border: 1px solid $cloud;
}

.about-intro {
	padding-left: $unit-md;
	padding-right: $unit-md;
}

.press-grid {
	padding-left: $unit-md;
	padding-right: $unit-md;
}

.press-icon {
	max-width: $unit-md;
}

.team-grid {
	padding-left: $unit-md;
	padding-right: $unit-md;
}

.player-number {
	font-size: $unit-md;
	color: $coal;
	@media only screen and (min-width: $bp-sm) {
		font-size: $unit-lg;
	}
}

.player-name {
	font-size: $unit-sm;
	color: $coal;
	@media only screen and (min-width: $bp-sm) {
		font-size: $unit-md;
	}
}

.player-position {
	color: $smoke;
	font-size: $unit-sm;
}

footer {
	padding: $unit-md;
	background-color: $coal;
	@media only screen and (min-width: $bp-sm+300) {
	padding: $unit-lg*2;
	}

	h3, ul, li {
		color: $white;
	}

	ul {
		list-style-type:none;
    	margin-bottom: $unit-lg;
    	padding:0;
    	@media only screen and (min-width: $bp-sm+100) {
    		margin:0;
    	}
	}
	li {
		font-family: $type-rubik;
		font-size: $type-sm;
		margin-bottom: $unit-xsm;
		a {
			color:$white;
		}
	}
}

.footer-row{
	@media only screen and (min-width: $bp-sm+100) {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	}
}

.email-label {
	color: $white;
	font-family: $type-rubik;
}

.email-input {
	font-family: $type-rubik;
	padding: $unit-xsm;
	border-radius: $border-radius;
}

.mc-field-group {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.mc-field-group label, .mc-field-group input {
	margin-bottom: $unit-sm;
}

.mc-field-group input {
	max-width: 300px;
}


