/*--------------------------------------------------------------------
 * Navigation
 *------------------------------------------------------------------*/

nav {
	padding: $unit-sm $unit-md;
	margin: 0 auto;
	font-family: $type-rubik;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	ul {
		list-style-type:none;
    	margin:0;
    	padding:0;
    	transform: translateY(-100%);
    	position: absolute;
    	right: 0;
    	@media only screen and (min-width: $bp-sm) { 
    		transform: translateY(0);
			position: relative;
  		}
	}
	li {
		margin-bottom: $unit-sm;
		@media only screen and (min-width: $bp-sm) { 
		display: inline-block;
		padding-right: $unit-xsm;
		margin-bottom: 0;
			&:last-of-type {
				padding-right: 0;
			}
		}
	}
}

.nav-logo {
	max-width: 60px;
}

.nav-menu {
	cursor: pointer;
	max-width: 24px;
	z-index: $z-2;
	@media only screen and (min-width: $bp-sm) { 
			display: none;
  		}
}
.nav-link {
	text-decoration: none;
	color: $coal;
	font-weight: $type-bold;
}
.nav-container {
	background: rgba(255,255,255,0.90);
}

.is-visible {
    transform: translate(0, 45%);
    background: white;
    padding: 24px;
    height: 100%;
    z-index: $z-1;
    width: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    @media only screen and (min-width: $bp-sm) {
			transform: none;
			background: none;;
		    padding: 0;
		    height: auto;
  		} 
}

