/*--------------------------------------------------------------------
 * Navigation
 *------------------------------------------------------------------*/

nav {
	padding: $unit-sm $unit-md;
	margin: 0 auto;
	font-family: $type-rubik;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;

	ul {
		list-style-type:none;
    	margin:0;
    	padding:0;
    	transform: translateX(120%);
    	position: absolute;
    	right: 0;
    	@media all and (min-width: $bp-sm) { 
			transform: translateX(0);
			position: relative;
  		}
	}
	li {
		margin-bottom: $unit-sm;
		@media all and (min-width: $bp-sm) { 
		display: inline-block;
		padding-right: $unit-xsm;
		margin-bottom: 0;
			&:last-of-type {
				padding-right: 0;
			}
		}
	}
}

.nav-logo {
	max-width: 60px;
}

.nav-menu {
	cursor: pointer;
	max-width: 24px;
	@media all and (min-width: $bp-sm) { 
			display: none;
  		}
}
.nav-link {
	text-decoration: none;
	color: $coal;
	font-weight: $type-bold;
}
.nav-container {
	background: rgba(255,255,255,0.90);
	// box-shadow: 0 1px 10px 0 rgba(0,0,0,0.20);
}

.is-visible {
    transform: translate(-180%, 40%);
    @media all and (min-width: $bp-sm) {
			transform: none;
  		} 
}

