/*--------------------------------------------------------------------
 * Settings
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Type
//--------------------------------------------------------------------

$type-rubik:	'Rubik', sans-serif;

//--------------------------------------------------------------------
// Color
//--------------------------------------------------------------------

$cloud: 	#EBEBEB;
$fog:		#F2F2F2;
$coal:		#1D1E22;
$gold:		#B88400;
$ruby:		#BE2126;
$smoke:		#7B7E85;

//--------------------------------------------------------------------
// Spacing
//--------------------------------------------------------------------

$unit-xsm:		8px;
$unit-sm:		16px;
$unit-md:		24px;
$unit-lg:		32px;
$unit-xlg:		40px;

//--------------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------------


