/*--------------------------------------------------------------------
 * Utility
 *------------------------------------------------------------------*/

$padding-md:	24px;
$padding-lg:	32px;

.padding-md {
	padding: $padding-md;
}	
.padding-lg {
	padding: $padding-lg;
}